<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Publication</title>
	<style type="text/css">
     td{
     	height: 40px;
     }
	</style>
</head>
<body>
	<form action="{{ path('publication_ajout')}}" method="post" enctype="multipart/form-data">

		<fieldset>
			<legend>Publication</legend>
			<table>
				<tr>
					<td><label>Titre</label></td>
					<td><input type="text" name="titre" placeholder="Titre de la publication"/> </td>
				</tr>
				<tr>
					<td><label>Contenu</label></td>
					<td><textarea name="contenu" rows="4" cols="20"></textarea></td>
				</tr>
                <tr>
					<td><label>Pays</label></td>
					<td><input type="text" name="pays" placeholder="Pays"/> </td>
				</tr>

				<tr>
					<td><label>Photo</label></td>
					<td><input type="file" name="photo" placeholder="Photo"/></td>
				</tr>
				
				<tr>
					<td colspan="2"><input type="submit" value="Ajouter"/>  <input type="reset" value="Annuler"/></td>
				</tr>
			</table>
		</fieldset>

</body>
</html>
