<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>formulaire Inscription</title>
	<style type="text/css">
     td{
     	height: 40px;
     }
	</style>
</head>
<body>
	<form action="{{ path('admin_inserer2')}}" method="post">

		<fieldset>
			<legend>Formulaire d'inscription</legend>
			<table>
				<tr>
					<td><label>Nom</label></td>
					<td><input type="text" name="nom" placeholder="saisir votre nom"/> </td>
				</tr>
				<tr>
					<td><label>Prenom</label></td>
					<td><input type="text" name="prenom" placeholder="saisir votre prenom"/></td>
				</tr>
				<tr>
					<td><label>Code</label></td>
					<td><input type="text" name="code" placeholder="saisir votre code"/></td>
				</tr>
                <tr>
					<td><label>Email</label></td>
					<td><input type="email" name="email" placeholder="saisir votre email"/> </td>
				</tr>
				<tr>
					<td><label>Pays</label></td>
					<td><input type="text" name="pays" placeholder="saisir votre pays"/></td>
				</tr>
				<tr>
					<td><label>Date de naissance</label></td>
					<td><input type="date" name="birthday" placeholder="saisir votre date de naissance"/></td>
				</tr>
				<tr>
					<td><label>Ville</label></td>
					<td><input type="text" name="ville" placeholder="saisir votre ville"/></td>
				</tr>
                <tr>
					<td><label>Mot de passe</label></td>
					<td><input type="password" name="password" placeholder="saisir votre mot de passe"/></td>
				</tr>
				<tr>
					<td><label>Photo</label></td>
					<td><input type="file" name="photo" placeholder="votre photo"/></td>
				</tr>
			
				<tr>
					<td colspan="2"><input type="submit" value="S'inscrire"/>  <input type="reset" value="Annuler"/></td>
				</tr>
			</table>
		</fieldset>

</body>
</html>
