{# templates/email/registration.html.twig #}
<h3>Enregistrement en cours</h3>

Votre code etudiant
Code : {{ code }}

{# example, assuming you have a route named "login" #}
Suivez ce lien pour vous inscrire : <a href="{{ url('admin_inserer2') }}">Cliquez</a>

Merci!