{# templates/email/registration.html.twig #}
<h3>Enregistrement effectué</h3>

Email : {{ mail }}!
Code : {{ code }}
Vos informations ci-dessus.

{# example, assuming you have a route named "login" #}
Acceder a votre profil : 
Votre mot de passe par defaut est "pass".
Vous pourriez le changer une fois connecter

<a href="{{ path('etudiant_login')}}">Appuyez</a>

Merci!

